
<div *ngIf="category&&category.productList">
<div *ngFor="let product of category.productList">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['Hello',{categoryId:category.id, productId: product.id }]"
    >
      {{ product.name }}
    </a>
  </h3>
  <img src="{{ product.img_url }}" class="images" />
  <p *ngIf="product.description">Описание: {{ product.description }}</p>
  <p *ngIf="product.rating">Рейтинг: {{ product.rating }}</p>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>
</div>
