body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.main-image{
    height: 538.84px;
    width: 250px;
    z-index: 2;
    margin-left: 110px;
}
.images{
    position: absolute;
    background-size: 468.32px 634.15px;
    height: 581.15px;
    width: 400px;
    margin-bottom: 12px;
    background-image: url("background-image.png");
    background-position: -46px 0;
    flex-basis: 380.32px;
    margin-right: 32px;
    align-self: center;
    top:100px;
    left:570px;
}
.align{
    margin-top: 27px;
}


.boxy{
    align-self: center;
    margin-top: 12px;
    position: absolute;
    top:100px;
    left:1000px;
    margin-left: 16px;

}
.login,.under-main-box{
    border: 1px solid lightgray;
    margin: 10px 10px  10px 10px;
    padding: 10px 10px;
}

div.logo img{
    width:200px;
    height: 70px;
    margin-top: 36px;
    margin-bottom: 12px;
    margin-left:90px;
   

}


.input{
    text-align: center;
    font-size: 14px;
    padding: 14px 16px;
    width:300px;
    border: 1px solid #dddfe2;
    line-height: 12px;
    height: 15px;
    margin-left:25px;
    margin-right: 25px;
    margin-bottom : 5px;
}
.submit{
    text-align: center;
    background-color:#47afff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 16px;
    width: 332px;
    height: 35px;
    vertical-align: middle;
    line-height: 1.5em;
    font-weight: bold;
    color:white;
    
}

.separator{
    margin-top: 20px;
    margin-bottom: 100px;

}
.line{
    height: 1px;
    background-color:#CCCCCC;

    width:107px;
    display: inline-block;
    margin-left: 35px;
    
    
}
.or{
    color:#CCCCCC;
    display: inline-block;
    font-size: smaller;
    margin-left: 35px;
}

.facebook{
    display: inline;
    margin-left: 100px;

}
.facebook a{
    color:#2851A3;
    text-decoration: none;
    font-weight: bold;

}
.facebook img{
    position: relative;
    top:0.3em;
}
.forgot-password{
    color:#2851A3;
    text-decoration: none;
    margin-left: 140px;
    font-size: smaller;
}
.under-main-box{
    text-align: center;
}
.under-main-box a{
    text-decoration: none;
    color:#47afff;
    font-weight: bold;
    
}
.txt{
    text-align: center;
}
.app-icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-icons img{
    margin-top: 20px;
    display: inline-block;
    margin-left: 7px;
}
footer{
    position: absolute;
    top:800px;
}
.top{
    text-align: center;
    margin-left: 500px;
    margin-bottom: 20px;
}
.f1{
    display: inline-block;
    margin-left: 5px;
    color:rgb(142, 142, 142);
}
.f1 a{
    text-decoration: none;
    font-size: 15px;
    color:rgb(142, 142, 142);
}
.bottom{
    text-align: center;
    margin-left: 400px;
    margin-bottom: 30px;
}
.sel{
    
    cursor: pointer;
    border: none;
    overflow: visible
}