body{
    font-family:"Segoe UI","Roboto",Helvetica,Arial,sans-serif;
    font-size:20px;
}
#header{
    background-color: black;
    width: 100%;
    height:50px;
    position: absolute;
    top:0px;
    left:0px; 
   
}
#header p{
    margin-top: 15px;
    margin-left: 40px;
    color:white; 
}
.main-text{
    position: absolute;
    top:100px;
    left:400px;
   
    height: fit-content;
}
.main-text p{
    color:black;
    font-size: 35px;
}

form{
    position: absolute;
    top:200px;
    left:450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*form input */
.to-do-input{
    width: 600px;
    height: 40px;
    border-color: #d9dddc;
    border-radius: 7px;
    padding: 5px;
    box-sizing: border-box;

}
.add-task-button{
    border-color:white;
    border-radius: 7px;
    margin-left: 10px;
    height: 38px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1338BE;
    color: white;
    font-size: 17px;

}



.to-do-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do-list{
    min-width: 30%;
    list-style: none;
    position: absolute;
    top:280px;
    left:365px;
}

.task{
    width: 700px;
    padding: 15px;
    border: 2px solid #d9dddc  ;
    margin-bottom: 10px;
  
}

.text{
    font-size: 20px;

}
.text-completed{
    text-decoration: line-through;

}

.btn-action{
    background-color: white;
    cursor: pointer;
    border-color:  #d9dddc;
    
    
}
.btn-action img {
    pointer-events: none;
}

.tick{
    padding-right: 3.5px;
    padding-left: 3.5px;
    padding-top: 2px;
}
.del{
    float: right;
    border: none;
}

.del img{
    padding-top: 3.5px;
    padding-bottom: 1px;
}
.hide{
    visibility: hidden;
}
.show{
    visibility: visible;
}