li{
  /*margin-top:30px;*/
  border-color:yellow;
  border-radius: 2px;
  border-style: solid;
  padding:15px;

}
ul{
  list-style: none;
  margin-left: 5px;
  padding: 0px;
}

li:hover{
  border-color:cornflowerblue ;
}
