button{
  background-color:#8CD0E3;
  border-radius: 1px;
  border-color: #8CD0E3;
  color:white;
  font-weight: bold;
  margin-left: 0px;
  margin-right: 20px;
}
input{
  border-radius: 2px;
  border-color: #8CD0E3;
  margin-right: 20px;
}
#buttons{
  margin-top: 20px;
}
